$bgColor: rgba(255, 0, 0, 0.507);
$displayFlex: flex;
$textClrWhite: white;
.header {
    // background-image: url(./../images/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bgColor;
    padding: 7px;
    //header child contact wrapper
    .contect-wrapper {
        display: $displayFlex;
        .heading-wrap {
            width: 80%;
            span.p {
                background-color: #09b492;
                padding: 2px 7px;
                border-radius: 4px;
            }
        }
        .cont-nav-wrap {
            ul {
                display: $displayFlex;
                li {
                    margin-left: 24px;
                    padding: 4px 5px;
                }
                li:hover {
                    background-color: #09b492;
                    border-radius: 4px;
                }
                li a {
                    color: white;
                }
            }
        }
    }
    //header child
    .search-details-wrap {
        width: 46%;
        margin: 0 auto;
        margin-top: 8em;
        margin-bottom: 2em;
        h2 {
            font-weight: bold;
            letter-spacing: 1px;
            color: $textClrWhite;
        }
        .input {
            width: 93%;
            padding: 10px 11px;
            margin: 14px 0px;
            /* cursor: pointer;*/
            border-radius: 6px;
            border: 0px solid;
        }
        h5 {
            color: $textClrWhite;
        }
    }
    .input-wrapper {
        position: relative;
    }
    #search {
        position: absolute;
        width: 24px;
        right: 30px;
        top: 19px;
        cursor: pointer;
    }
}