<header class="header">
    <!--for top content nav-->
    <div class="contect-wrapper">
        <!--for heading plus logo-->
        <div class="heading-wrap">
            <span class="p clr-white">C</span>
            <span class="clickimagine clr-white">ClickImagine</span>
        </div>
        <!--for contect navbar-->
        <div class="cont-nav-wrap">
            <div class="btn-wrapper btn-top-details">
                <a class="show-hide-btn-top" href="#">
                    <div class="btn"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                </a>
            </div>
            <ul id="detailsMenu">
                <li class="menu-dtl-js"><a href="#">Explore</a></li>
                <li><a href="#">License</a></li>
                <li><a href="#">Upload</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">Join</a></li>
            </ul>
        </div>
    </div>
    <!---->
    <div class="search-details-wrap">
        <h2 class="clr-white">The best free stock photos & videos shared by talented creators.</h2>
        <div class="input-wrapper">
            <input type="text" class="input" placeholder="Search for free photos and videos">
            <img id="search" src="./assets/images/search.png">
        </div>
        <h5 class="clr-white">Suggested: paris, contact, close up, office desk, motorcycle, london, more</h5>

    </div>
</header>