<footer class="footer">
    <!--footer menu email sign up form wrapping here in top footer wrapper-->
    <div class="top-footer">
        <div class="menu-wrapper">
            <a href="#">Free Stocks Photos</a>
            <a href="#">Free Video</a>
            <a href="#">Collections</a>
            <a href="#">Challenges</a>
            <a href="#">Leaderboard</a>
        </div>
        <div class="email-sign-wrapper">
            <input class="email-input clr-white" type="text" placeholder="Enter your email">
            <button class="btn crs-pointer">Sign Up</button>
        </div>
    </div>
    <!--top footer ends-->
    <!---->
    <div class="page-details-wrapper">
        <!--1-->
        <div class="details clickimagine">
            <h3 class="heading"> clickimagine</h3>
            <ul>
                <li> <a href="#"> About </a> </li>
                <li> <a href="#"> Blog </a> </li>
                <li> <a href="#"> FAQ </a> </li>
                <li> <a href="#"> Become a hero </a> </li>
                <li> <a href="#"> Partner with clickimagine </a> </li>
                <li> <a href="#"> API/Developers </a> </li>
            </ul>
        </div>
        <!--2-->
        <div class="details paxels">
            <h3 class="heading"> Apps & Plugins</h3>
            <ul>
                <li> <a href="#"> clickimagine for iOS </a> </li>
                <li> <a href="#"> clickimagin for Android </a> </li>
                <li> <a href="#"> Other plugins & apps </a> </li>

            </ul>
        </div>
        <!--3-->
        <div class="details paxels">
            <h3 class="heading"> Free Stock Photos</h3>
            <ul>
                <li> <a href="#"> Popular searches </a> </li>
                <li> <a href="#"> Black and white photography </a> </li>
                <li> <a href="#"> Happy birthday images </a> </li>
                <li> <a href="#"> Free business videos </a> </li>
                <li> <a href="#"> Happy new year images </a> </li>
                <li> <a href="#"> Cool wallpaper </a> </li>
                <li> <a href="#"> Best HD wallpapers </a> </li>
            </ul>
        </div>
        <!--4-->
        <div class="details paxels">
            <h3 class="heading"> Wallpapers</h3>
            <ul>
                <li> <a href="#"> Galaxy wallpaper </a> </li>
                <li> <a href="#"> Lock screen wallpaper </a> </li>
                <li> <a href="#"> Iphone wallpaper </a> </li>
                <li> <a href="#"> 4k wallpaper </a> </li>
                <li> <a href="#"> Samsung wallpaper </a> </li>
                <li> <a href="#"> Love wallpaper </a> </li>
                <li> <a href="#"> Mobile wallpaper </a> </li>
            </ul>
        </div>
    </div>
    <!--footer bottom -->
    <div class="footer-bottom-wrapper">
        <div class="logo-wrapper">
            <span class="c">C</span>
            <span class="clickimagin ">- Beautiful free photos contributed by 
                    our talented community.</span>
        </div>
        <div class="turm-condition-wrapper">
            <a href="#">Terms of use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">License</a>
            <a href="#">Imprint</a>
            <a class="language" href="#">English</a>
        </div>
    </div>
</footer>