//footer css stars
.footer {
    background-color: #071b4d;
    .top-footer {
        border-bottom: solid #ffffff4d 0.1px;
        display: flex;
        padding: 12px;
        .menu-wrapper {
            width: 80%;
            a {
                color: white;
                margin-right: 17px;
            }
        }
        .email-input {
            padding: 4px 7px;
            background-color: #394971;
            border: none;
            border-radius: 2px;
            width: 58%;
            margin-right: 5px;
        }
        .btn {
            padding: 3px 8px;
            font-size: 10px;
            border-radius: 3px;
            border: solid white;
        }
    }
    .page-details-wrapper {
        display: flex;
        border-bottom: solid white 0.2px;
        flex-wrap: wrap;
        .details {
            width: 22%;
            padding: 11px;
            a {
                color: #e4dddd59;
                margin-bottom: 11px;
                display: inline-block;
                font-size: 12px;
            }
        }
        .heading {
            color: white;
            margin-bottom: 7px;
        }
    }
    ul {
        display: block;
    }
    .footer-bottom-wrapper {
        border-top: solid rgba(190, 185, 185, 0.774) 0.2px;
        display: flex;
        padding: 20px 10px;
        .logo-wrapper {
            width: 50%;
            .clickimagin {
                margin-left: 11px;
                color: #ad9d9dd6;
                font-size: 11px;
            }
            .c {
                background-color: white;
                padding: 9px 14px;
                border-radius: 4px;
            }
        }
        a {
            color: #9f9a9a;
            margin-right: 14px;
        }
    }
}