<div class="main-menu-wrapper">
    <div class="btn-wrapper">
        <a class="show-hide-btn" href="#">
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
        </a>
    </div>
    <div class="main-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">Challenges</a></li>
        </ul>
    </div>
</div>