$displayFlex: flex;
.main-menu-wrapper {
    border-bottom: solid grey 0.3px;
    padding: 10px 0px;
    .main-menu {
        width: 41%;
        margin: 0 auto;
        ul {
            display: $displayFlex;
            li {
                margin-left: 20px;
                a:hover {
                    color: blue;
                    border-bottom: solid blue;
                    a {
                        font-size: 21px;
                        margin-left: 17px;
                        color: black;
                        padding: 15px 0;
                        display: inline-block;
                    }
                }
            }
        }
    }
}