<div class="tags">
    <div id="tag-heading">
        <h2 class="tag-heading">Related Tags</h2>
    </div>
    <ul>
        <li><a href="#">Art</a></li>
        <li><a href="#">Artist</a></li>
        <li><a href="#">Artwork</a></li>
        <li><a href="#">Beauty</a></li>
        <li><a href="#">Body</a></li>
        <li><a href="#">Elderly</a></li>
        <li><a href="#">Focus</a></li>
        <li><a href="#">MediumShot</a></li>
        <li><a href="#">Model</a></li>
        <li><a href="#">Pose</a></li>
        <li><a href="#">Posting</a></li>
        <li><a href="#">Clear</a></li>
        <li><a href="#">Hd</a></li>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Sky</a></li>
        <li><a href="#">Cloud</a></li>
        <li><a href="#">Photographer</a></li>
        <li><a href="#">Challenges</a></li>
        <li><a href="#">Home</a></li>
    </ul>
</div>