/* You can add global styles to this file, and also import other style files */

//variable for background color
$bgColor: rgba(255, 0, 0, 0.507);
$textClrWhite: white;
$displayFlex: flex;
$textClrWhite: white;
$displayFlex: flex;
.error {
    justify-content: center;
}

//imported css 
@import "./assets/css/images.scss";
@import "./assets/css/header.scss";
@import "./assets/css/footer.scss";
@import "./assets/css/main-menu.scss";
* {
    margin: 0;
    padding: 0;
}

.main-container {
    //header css ends
    //main menu css ends
    .tags {
        overflow: scroll;
        margin: 13px 0px;
        ul {
            display: $displayFlex;
            li {
                border: solid #e6caca 0.1px;
                padding: 0px 8px 3px 8px;
                margin: 6px;
                border-radius: 1px;
                li:hover {
                    background-color: rgba(223, 213, 213, 0.623);
                    color: white;
                    a {
                        color: black;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .img-section {
        width: 93%;
        margin: 0 auto;
        padding: 15px;
        .tags-wrapper {
            overflow: scroll;
            margin: 13px 0px;
            ul li {
                border: solid #e6caca 0.1px;
                padding: 0px 8px 3px 8px;
                margin: 6px;
                border-radius: 1px;
                &:hover {
                    background-color: rgba(223, 213, 213, 0.623);
                    color: white;
                }
                a {
                    color: black;
                    font-size: 13px;
                }
            }
        }
    }
    //main-menu css
    $displayFlex: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.heading-trending-wrap {
    display: flex;
    justify-content: space-between;
    select {
        border: none;
        &:hover {
            color: rgb(146, 144, 144);
        }
    }
}