<div class="heading-trending-wrap">
    <div class="heading-wrapper">
        <span class="stock">Free Stock Photos</span>
    </div>
    <div class="input-select-wrapper">
        <select class="crs-pointer">
        <option value="Trending">Trending</option>
        <option value="Nature">Nature</option>
    </select>
    </div>
</div>

<div class="images-container">
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img1.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img9.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img3.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img5.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img6.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img7.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img8.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img10.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img11.jpg" alt="img"></div>
    <div class="img-wrapper">
        <img class="images" src="./assets/images/img2.jpg" alt="img"></div>
    <div class="img-wrapper">

        <img class="images" src="./assets/images/img4.jpg" alt="img"></div>




</div>